.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}

.error {
  color: var(--error_color);
  font-size: 0.9em;
}

.input-error {
  box-shadow: unset;
  border-color: #f44336;
}

.btn-enviar {
  width: 25%;
}

@media screen and (max-width: 500px) {
  .btn-enviar {
    width: 100%;
  }
}
