.header {
  height: 15vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background: #ffffff;
}

.logo {
  width: 200px;
}

.bg-img {
  width: 100%;
  height: 400px;
  background: url("assets/bg_login.jpg") no-repeat right center;
  background-size: cover;
  margin: 0 auto;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transform: translate(-50%, -50%);
  background: #ffffff;
  min-width: 400px;
  padding: 40px 15px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.box h1 {
  border-left: 10px solid var(--primary_color);
  padding-left: 10px;
  font-size: 2.2rem;
  font-weight: 300;
}

.input-footer {
  font-weight: 300;
}

.input-footer:before {
  content: "";
  background: url(assets/secure_site.svg) no-repeat center center;
  width: 40px;
  height: 15px;
  position: relative;
  left: 0;
  top: 0;
  padding-right: 20px;
  margin-right: 10px;
}

strong {
  font-weight: 600;
}
